:root {
    --Negro: #000000;
    --Verde: #44D62C;
    --Rojo: #ff0000;
    --Blanco: #ffffff;
    --Letra: #596B80;
}
/* GLOBALES */
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color: var(--Negro);
}

.contenedor{
    max-width: 100%;
    /* width: 95%; */
    margin: 0 auto;
}
a{
    text-decoration: none;
}
header{
    position: sticky;
    top:0px;
} 

span {
    font-size: 1rem;
    color: var(--Verde);
}


h1 {
    color: #44D62C;
}

/*Header (Inicio)*/

.Portada{
    display: flex;
    justify-content: center;

}

.Cabezera {
    display: flex;
    background-color: rgba(0, 0, 0, 0.493);
    color: var(--Verde);
    text-align: center;
    justify-content: space-around;
    border-bottom-style: solid;
    /*Borde de lados <3*/
    color: var(--Verde);
}


.RazerTrans a {
    display: flex;
    height: 5rem;
    justify-content: center;

}

.seccion{
    margin: 5rem 0;
}
.Acerca_De{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.img3 {
    display: flex;
    justify-content: space-evenly;
    height: 25rem;

    gap: 2rem;
    background-color: var(--Negro);

    /* padding: 50px; */

}

.RazerRedondo{
    background-image: url(../Img/RazerLogoTrans.png);
    width: 90rem;
    height: 50rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    /* margin-bottom: 30px; */
}

.img3 img {

    border-bottom-style: solid;
    /*Borde de lados <3*/
    color: var(--Verde);

}

.img_1 {
    width: 450px;
}

li {
    border-radius: 15px;
    border: 2px solid var(--Verde);
}
/************************************|Musica (Inicio)|***********************************************/
.Musica{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.MusicaRazer{
justify-content: space-around;
}
.MusicaRazer p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--Verde);
    font-size: 50px;
}


/************************************|Nav (Inicio)|***********************************************/

ul {
    list-style-type: none;
}

* {
    margin: 0px;
    padding: 0px;
}

nav {

    width: 700px;
    height: 60px;
    margin: auto;
    text-align: center;
}

nav li a {
    text-decoration: none;
    color: var(--Verde);
    background-color: var(--Negro);
    padding: 10px 15px;
    display: block;
    border-radius: 15px;

}


.Enlace {
    float: left;
}

nav li ul {
    position: absolute;
    min-width: 140px;
    display: none;
}

nav li:hover>ul {
    display: block;

}

.nav {
    display: flex;
    padding: 100px;
}



/****/
.Video {
    text-align: center;
    background-color: var(--Negro);
    border-bottom: 5px;
    color: var(--Verde);
    border-bottom-style: solid;
    /*Borde de lados <3*/
    color: var(--Verde);
}

.Video video{
    width: 100%;
}

/************************************|Section (Inicio)|***********************************************/


.tituloSegun {
    text-align: center;
    background-color: var(--Negro);
    color: var(--Verde);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.textoSegun p {
    text-align: center;
    color: var(--Letra);
    background-color: var(--Negro);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-size: 35px;
    margin: 52px;
    height: 50;

}

.RazerTexto3 h3 {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    color: var(--Blanco);
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.imgMonitor {
    background-image: url(../Img/a8873c2a2de45360e07499c500cb7a27-usp1-01.png);
    height: 50rem;
    width: 120rem;
    background-size: contain;
    background-repeat: no-repeat;
}


.VideoTrailr {
    display: flex;
    justify-content: center;
    padding: 50px;
    height: 560px;
}

.RazerBajo {

    text-align: center;

}

.RazerBajo h1 {
    color: var(--Verde);
    font-size: 70px;
}

.RazerBajo span {
    color: var(--Verde);
    font-size: 35px;
}

/**************************Pie de pagina************/
.TiePagina {
    display: flex;
    background-color: var(--Negro);
    border-top-style: solid;
    /*Borde de lados <3*/
    color: var(--Verde);
    justify-content: space-between;
    padding: 25px;
    

}

.TiePagina img {
    display: flex;
    width: 70px;
}

.TiePagina p {

    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--Verde);
}
.iconosPie{
    display: flex;
    gap: 15px;
  
}

/********************************************Estilos del Audifonos***********************************************/
.TituloAudi{
    display: flex;
    justify-content: space-around;
    border-bottom-style:solid ;
    color: var(--Verde);
}
.TituloAudi p{
  
    padding: 20px;
    color: var(--Verde);
    font-size: 90px;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.TituloAudi h1{
  
  
    padding: 20px;
    margin: 0px;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.imgAudifonos{
    display: flex;
}
.imgAudifonos img{
    padding-top: 100px;
    border-bottom-style: solid;
    color: var(--Verde);
    /*Borde de lados <3*/
    width: 300px;
    height: 350px;

}
.imgAudifonos p{
    padding: none;
    padding-top: 20px;
    font-size: 20px;
    color: var(--Letra);
    text-align:start;
   
}

/**********************************Muase******************************************/
.TexMause h1{
    display: flex;
    color: var(--Verde);
    border-bottom-style: solid;
    padding-bottom: 5px;
    margin: 0px;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    
    
}